commands:
  01-install-certbot:
    command: |
      sudo yum update -y
      sudo yum install -y epel-release
      sudo yum install -y certbot python3-certbot-nginx

  02-configure-certbot:
    command: |
      sudo certbot --nginx -n --agree-tos --email tkuang5176@gmail.com -d tylerkuang.com -d www.tylerkuang.com

files:
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * root certbot renew --quiet && systemctl reload nginx
